*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(./images/bg1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.tracklist{
    width: 17rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: linear-gradient(0deg, rgba(223,223,223,0.3086484593837535) 0%, rgba(198,198,198,0.3394607843137255) 100%);
    border-radius: 10px;
    box-shadow: 1px 1px 6px #444444;
}
.tracklist button{
    position: fixed;
    right: 1rem;
    top: 1rem;
}
.tracklist .list{
    padding: 1rem;
}
.tracklist .list h3{
    margin-top: 2rem;
    color: #dedede;
}
.tracklist .songitem{
    padding: 0.7rem;
}
.tracklist .songitem .title{
    color: white;
    margin-bottom: 0;
}
.tracklist .songitem .artist{
    color: #c4c4c4;
    font-size: 0.8rem;
    margin-bottom: 0;
}
.tracklist .list .songitem:hover{
    cursor: pointer;
    border-radius: 8px;
    background: rgba(222,222,222,0.3254551820728291);
}
.player{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 83vh;
    font-weight: 25vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 16vw;
    margin-right: 16vw;
    background: linear-gradient(0deg, rgba(223,223,223,0.3086484593837535) 0%, rgba(198,198,198,0.3394607843137255) 100%);
    border-radius: 30px;
    box-shadow: 1px 1px 6px #444444;
}
.player img{
    border: 0px solid pink;
    border-radius: 50px;
    height: 60%;
    width: 47%;
    box-shadow: 1px 1px 6px #444444;
}
.player .songname{
    color: white;
    font-size: 150%;
    margin: 1rem;
    margin-bottom: 0;
}
.player .artistname{
    color: gray;
    font-size: 100%;
}
.player .buttons{
    display: flex;
}
.player .buttons div{
    padding: 1rem;
}
.player .buttons div i{
    font-size: 180%;
}
.player .player_slider{
    display: flex;
    align-items: first baseline;
}
.player .player_slider p{
    color: #c4c4c4;
    font-size: 90%;
    padding : 0.5rem;
}
.player .player_slider input{
    margin-top: 2rem;
    width: 40vw;   
}
.player .volume_slider{
    position: fixed;
    bottom: 0.8rem;
    right: 1rem; 
}
i{
    color: white;
    opacity: 0.8;
}
i:hover{
    cursor: pointer;
    opacity: 1.0;
}
.sliders input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.volume_slider i{
    font-size: 1.2rem;
}
.player_slider input::-webkit-slider-thumb,
.volume_slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}
.player_slider input:hover,
.volume_slider input:hover{
    opacity: 1.0;
}

@media (max-width: 300px){
    .player{
        position: relative;
        background: rgba(255,255,255,0);
        box-shadow: none;
    }
    .player img{
        border-radius: 50%;
        width: 70%;
        height: 50%;
        padding-bottom: 0.5rem;
    }
    .player .player_slider input{
        width: 50vw;
    }
}

@media (max-width: 450px){
    .player{
        position: relative;
        background: rgba(255,255,255,0);
        box-shadow: none;
    }
    .tracklist {
        width: 5rem;
        background: rgb(70,70,70);
    }
    .player img{
        height: 40%;
        width: 55%;
        border-radius: 70px;
    }
    .player .previous, .play, .next{
        font-size: 0.7rem;
    }
    .player .player_slider p{
        font-size: 70%;
    }
}

@media (max-width: 576px) { 
    .player{
        position: relative;
    }   
}

@media (max-width: 768px) { 
    .player{
        position: relative;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .tracklist {
        width: 12rem;
    }
 }



